@longer-side: 30;
@shorter-side: 25;
@constrained-percentage: (@shorter-side / @longer-side);
@constrained-full-size: (@constrained-percentage * 100vmax);

@unconstrained-size: calc(100vmin - 2 * 1rem);
@constrained-size: calc(@constrained-full-size - 5 * 1rem);

.visualiser {

  display: grid;

  width: 100vw;
  height: 100vh;

  padding: 1rem;
  margin: auto;
  grid-gap: 1rem;

  grid-template-areas: "p"
                       "v"
                       "s";

  grid-tempalte-columns: 1fr;
  grid-template-rows: max-content @unconstrained-size 1fr;

  @media (min-aspect-ratio: @shorter-side/@longer-side) {
    grid-template-areas: "p v"
                         ". s";

    grid-template-rows: @constrained-size;
    grid-template-columns: max-content @constrained-size;
  }
  
  @media (orientation: landscape) {

    grid-template-areas: "p ."
                         "v s";
    grid-template-columns: @constrained-size;
    grid-template-rows: max-content @constrained-size;
  }

  @media (min-aspect-ratio: @longer-side/@shorter-side) {

    grid-template-areas: "p v s";
    grid-template-rows: 1fr;
    grid-template-columns: max-content @unconstrained-size 1fr;
  }
}

.visualiser__main {
  grid-area: v;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.visualiser__sub {
  grid-area: s;
  width: 100%;
  height: 100%;


  @media (orientation: portrait) {
    max-height: 20vmin;
  }

  @media (orientation: landscape) {
    max-width: 20vmin;
  }

  overflow: hidden;
}

.visualiser__info {
  grid-area: p;
  display: flex;
  justify-content: space-between;

  writing-mode: horizontal-lr;
}

@media (min-aspect-ratio: @shorter-side/@longer-side) {
  .visualiser__info {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }
}

@media (orientation: landscape) {
  .visualiser__info {
    writing-mode: lr;
    transform: initial;
  }
}

@media (min-aspect-ratio: @longer-side/@shorter-side) {
  .visualiser__info {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }
}

.visualiser__keys {
  grid-area: k;
  display: flex;
}

.visualiser__key {
  margin-inline-end: 0.5rem;
}

.visualiser__key--last {
  margin-inline-end: 0;
}

.visualiser__key::before {
  display: inline-block;
  content: "";

  height: 0.25rem;
  width: 0.25rem;
  margin: 0.25rem;

  border: 1px solid #444;
}

.visualiser__key--similar::before {
  background-color: var(--color-similar);
}

.visualiser__key--different::before {
  background-color: var(--color-diff);
}

