.description {
  padding-left: 0.5em;
  padding-right: 0.5em;
  p {
    margin-top: 0.5rem;
    max-width: 30rem;
    line-height: 1.2;
  }

  h1 + p {
    margin-top: 1rem;
  }

  h2 + p {
    margin-top: 0.25rem;
  }
}