
.form {
  display: flex;

	flex-direction: column;

	width: 300px;
}

.form--modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form__button {
  display: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  border: initial;
  padding: initial;
  background-color: initial;

	border: 0.25rem hsl(230, 66%, 65%)solid;
	background-color: hsl(310, 66%, 65%);
	padding: 1rem;
	margin: 0.5rem;

	color: #000;

	text-align: center;
}

.form__button--active {
	display: block;
}

.form__file-upload-hidden-button {
	cursor: inherit;
	display: block;
	font-size: 0;
	filter: alpha(opacity=0);
	height: 0;
	width: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	text-align: right;
	top: 0;
}

.form__error {
  margin: 0.5rem;

  height: 1rem;

  color: hsl(310, 100%, 50%);
}

