@color-similar: #ff00ff;
@color-diff: #0000bf;

@palette-primary: darken(desaturate(@color-similar, 65, relative), 15, relative);
@palette-secondary: darken(desaturate(@color-diff, 65, relative), 15, relative);

