@import '_settings.fonts.less';

@import '_generic.reset.less';

@import '_object.form.less';

:root {
  --body-font: @body-font;
  --body-font-size: @body-font-size;
}

html, body, input, button {
  font-size: var(--body-font-size);
  font-family: var(--body-font);
}

body {
  box-sizing: border-box;

  width: 100%;
  display: grid;
  grid-template-areas: "v v"
                       "s s"
                       "e .";

  padding-left: var(--body-font-size);
  padding-right: var(--body-font-size);
  grid-gap: 18px;
}

#similarity-graph {
  width: 100%;
  grid-area: v;
}

#spectra {
  grid-area: s;
}

#music-app-events {
  grid-area: e;
}

#song-progress {
  grid-area: v;

  max-width: 0px;

  position: relative;
  top: 18px;
}

